:root {
  --gray-color: #aaa;
}
* {
  box-sizing: border-box;
}
.graycolor {
  color: var(--gray-color);
}
main {
  background-color: white;
  padding: 10px;
}
/* 소메뉴 */
.smallmenu {
  border: 1px solid;
  height: 40px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smallmenu > div > a {
  color: var(--gray-color);
}
.smallmenu_path > a::after {
  content: " >";
}
.smallmenu_path > a:last-child:after {
  content: none;
}
.smallmenu_quickmenu > a::after {
  content: " |";
}
.smallmenu_quickmenu > a:last-child:after {
  content: none;
}
.pagename {
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
/* 제품페이지 */
.product {
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  padding: 10px 0;
}
.product_tagbar {
  display: flex;
  justify-content: start;
}
.product_tagbar > div {
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
}
.product_tagbar > div:first-child {
  border-bottom: none;
}

.product_productlist {
  display: flex;
  flex-wrap: wrap;
}
.product_each {
  flex-grow: 1;
  flex-basis: 200px;
  margin: 10px;

  max-width: 300px;
}
.product_image_thumb {
  position: relative;
  margin: 20px auto;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* [주문상품] 검은박스 */
.product_image_thumb > div:first-child {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 5px;
  background-color: black;
  color: white;

  font-size: 1rem;
  letter-spacing: 5px;
  line-height: 15px;
  text-align: center;
  padding-left: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}
.product_image_thumb {
  width: 80%;
}
.product_image_thumb_image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.product_image_thumb_image > img {
  height: 100%;
  width: 100%;
  object-fit: contain;

  transition: 0.3s ease-in-out;
}
.product_image_thumb_image:hover > img {
  transform: scale(1.12);
}

.product_image_thumb_hovershowup {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 50px;
}
.product_image_thumb_hovershowup > span {
  margin-right: 10px;
}
.product_image_thumb:hover .product_image_thumb_hovershowup {
  display: block;
}

.product_name,
.product_comment,
.product_each > hr,
.product_price {
  width: 80%;
  left: 0;
  right: 0;
  margin: 10px auto;

  flex-grow: 1;
}
.product_name > a {
  color: #2e2e2e;

  line-height: 10px;
}
.product_comment,
.product_price {
  margin: 3px auto 0 auto;
}
.product_price {
  font-weight: 600;
}

/* 사이드바 */
.pageswitch {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 30px;
  margin-bottom: 50px;

  cursor: pointer;
}
.pageswitch > div {
  height: 100%;
  width: 30px;
}
.pageswitch > .left-end {
  height: 100%;
}

.side-navbar {
  width: 42px;
  position: fixed;
  right: 0;
  top: 30vh;
  z-index: 99;
}
.side-navbar > div {
  width: 100%;
  height: 42px;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;

  display: flex;
  justify-content: start;
  align-items: center;

  padding: 4px;
}
.side-navbar > div:first-child,
.side-navbar > div:nth-child(9),
.side-navbar > div:last-child {
  background-color: white;
}
.side-navbar > div > svg {
  color: black;
  width: 60%;
  height: 60%;
}

/* 미디어쿼리 */
/* 모바일 */
@media (max-width: 720px) {
  .product_productlist {
    flex-direction: column;
    align-items: center;
  }
  .product_each {
    width: 80vw;
    flex-grow: 1;
    flex-basis: 100%;

    max-width: none;
  }
}
