<style>
section {}


/* 네비게이션 */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 19px;
    border: 1px solid;

}


.navigation-layer {
    display: flex;
    gap: 10px;

}

.navigation-layer a {
    text-decoration: none;
    color: black;
}

.sub-category {
    /* border: 1px solid; */
}

/* 제목 스타일 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 70px 0px 70px;
    font-size: 18px;
}

/* 버튼 스타일 */
button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

button img {
    width: 24px;
    height: 24px;
}

/* 반응형 정렬 */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.media-item {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 프로덕트 카테고리 ㅇ */
.product-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 19px;
    border: 1px solid;
}

.pc-left a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pc-left p {
    margin: 0;
}

.product-category button {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
</style>