* {
  box-sizing: border-box;
}
body {
  height: 4000px;
}
li {
  list-style: none;
}
.top {
  border: 1px;
}
/* top-head-left & right */
.top > .top-head {
  font-size: 9px;
  color: rgb(169, 168, 168);
}
.top > .top-head > ul {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.top > .top-head > ul > li > a {
  padding-left: 5px;
}
.top > .top-head > ul > .top-head-right > a {
  padding-left: 5px;
}
/* top-head-main */
.top > .top-main {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  padding-top: 70px;
  padding-bottom: 40px;
  font-size: 15px;
}
.top > .top-main > .good {
  margin-left: 10px;
  margin-right: 5px;
}

#number {
  border: 1px solid;
  background-color: rgb(243, 81, 81);
  color: white;
  border-radius: 10px;
  padding: 3px;
  display: inline-block;
  text-align: center;
}
/* top-bottom */
.top > .top-bottom {
  padding-bottom: 80px;
}

/* mainlayout */
main {
  margin: 200px;
}
content {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.mainlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 100px;
}
.mainlayout > .each-rect {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 310px;
  font-size: 12px;
}
.mainlayout > .each-rect > .img-description > .product-description {
  color: grey;
}
/* 템플릿 */
@media (max-width: 1080px) {
  .mainlayout {
    grid-template-columns: repeat(3, 1fr);
  }
  .mainlayout > .each-rect {
    font-size: 1.2rem;
  }
  .top > .top-head > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* 모바일 */
@media (max-width: 249px) {
  .mainlayout {
    grid-template-columns: repeat(2, 1fr);
  }
  .mainlayout > .each-rect {
    font-size: 1.4rem;
  }
  .top > .top-head > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-head ul li + li {
    margin-top: 10px;
  }
}
